.repository-container {
  border-bottom: 2px solid #7070705A;
  padding: 2rem 1.5rem;

  &>h3 {
    position: relative;

    &::before {
      content: '';
      width: 1.875rem;
      height: 1.875rem;
      background: #FFCE00;
      border-radius: 6px;
      position: absolute;
      top: -0.25rem;
      left: -2.625rem;
    }
  }

  &>p {
    padding-top: 0.625rem;
  }

  .repository-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.875rem;
  }

  .stars {
    &>img {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  .stars,
  .repository-status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}