.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 0 5rem;

  background: #1F1F1F;
}

.nickname {
  font-weight: bold;
  padding: 0 .5rem;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 1.25rem;

  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.logout img {
  width: 22px;
  margin-left: 10px;
}