.header-container {
  background: #1F1F1F;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.5rem 1rem;
}

.header-container > p {
  font-weight: bold;
}

.header-container > li p {
  padding-top: .25rem;
}

