.footer-container {
  background: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: space-around;
  
  border-radius: 10px 20px 0 0;
  align-items: center;
  padding: 1rem;
}

.footer-container .tab-buttons p {
  color: #969696;
}

.footer-container .tab-buttons:first-child p {
  color: #000;
}

.tab-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}

.tab-buttons img {
  padding-bottom: .25rem;
}